@font-face {
  font-family: "iconfont"; /* Project id 2867303 */
  src: url('iconfont.woff2?t=1635844709502') format('woff2'),
       url('iconfont.woff?t=1635844709502') format('woff'),
       url('iconfont.ttf?t=1635844709502') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e633";
}

.icon-tianjiayonghu:before {
  content: "\e624";
}

.icon-ip:before {
  content: "\e64f";
}

.icon-yonghu:before {
  content: "\e61b";
}

.icon-bottom:before {
  content: "\e674";
}

.icon-left:before {
  content: "\e675";
}

.icon-right:before {
  content: "\e677";
}

.icon-fenzu:before {
  content: "\e694";
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-sousuo:before {
  content: "\e692";
}

.icon-quanburenwu:before {
  content: "\e6a7";
}

